/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial, sans-serif;
  background: #ffffff;
  color: #222222;
  font-weight: normal;
  line-height: 24px;
}
.Hero-image {
  position: relative;
  padding-bottom: 70%;
  background-image: url('../img/home/home-mobile-jumbotron.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1024px;
  max-height: 598px;
  margin: 0 auto;
  transition-property: background-image;
  transition-duration: 1s;
  transition-timing-function: ease;
}
@media (min-width: 321px) {
  .Hero-image {
    background-image: url('../img/home/home-jumbotron.png');
    padding-bottom: 58.40%;
  }
}
@media (min-width: 1024px) {
  .Hero-image {
    padding-bottom: 0;
    height: 598px;
  }
}
.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  transition: padding 1.5s ease;
}
@media (min-width: 576px) {
  .Navbar {
    padding: 20px 0;
  }
}
.Brand {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-left: 4%;
  transition: margin-left 2s ease;
}
@media (min-width: 576px) {
  .Brand {
    margin-left: 8%;
  }
}
.Nav {
  margin-right: 4%;
  transition: margin-right 2s ease;
}
@media (min-width: 576px) {
  .Nav {
    margin-right: 8.5%;
  }
}
.Hero-header {
  position: absolute;
  bottom: 48px;
  left: 4%;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  transition: all 2s ease;
}
@media (min-width: 576px) {
  .Hero-header {
    font-size: 42px;
    line-height: 48px;
    left: 8%;
  }
}
@media (min-width: 768px) {
  .Hero-header {
    font-size: 48px;
    line-height: 52px;
  }
}
@media (min-width: 768px) {
  .Hero-header {
    font-size: 54px;
    line-height: 60px;
  }
}
@media (min-width: 992px) {
  .Hero-header {
    font-size: 60px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .Hero-header {
    font-size: 64px;
    line-height: 75px;
  }
}
